body {
                background-color: #FFFFFF;
}
body,td,th {
                color: #000;
                font-family: Verdana, Geneva, sans-serif;
                font-size: 18px;
}

input {
                color: #000;
                font-family: Verdana, Geneva, sans-serif;
                font-size: 18px;
}


div#form-data { min-width: 1080px; background-color: #c70004; height: 84px; }
div#header { min-width: 1080px; background-color: #c70004; height: 84px; }
div#form { padding-bottom: 120px; }
div#footer { min-width: 1080px; background-color: #c70004; height: 68px; color: #FFF; text-align: center; font-size: 12px; padding-top: 10px; }
